body {
  background-color: #f1f6f8;
  padding-top: 40px;
  padding-bottom: 40px;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #c3d7f5;
  border-radius: 14px;
  overflow-y: auto;
}

textarea {
  border-radius: 14px;
  padding: 8px;
}